# APP
APP_PORT=8080

# MYSQL
MYSQL_URL=mysql://localhost:3306/bbs
MYSQL_USER=admin
MYSQL_PASSWORD=password

# CACHE
REDIS_URL=redis://192.168.1.100:6379/0
REDIS_USER=admin
REDIS_PASSWORD=password

# AI
AI_BASE_URL=https://api.deepseek.com
AI_TOKEN=sk-fEn9KuAn9X1n9Q14VmE5o

# SECURITY
JWT_SECRET=MAOTOUBUZHANGWOXIHUANNI
ACCESS_TOKEN_EXPIRE=900
REFRESH_TOKEN_EXPIRE=604800